{% extends 'base.html.twig' %}

{% block title %}Mon compte - GreenGoodies{% endblock %}

{% block body %}

    <section class="account-page">

        <h1>Mon compte</h1>

        <div class="account-container">

            <div class="account-card">

                <h2>Mes commandes</h2>

                <table class="orders-table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for order in orders %}
                        <tr>
                            <td>#{{ order.id }}</td>

                            <td>
                                {{ order.validatedAt|date('d/m/Y') }}
                            </td>

                            <td>
                                {{ order.totalPrice|number_format(2, ',', ' ') }}€
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="3">
                                Aucune commande pour le moment.
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            </div>

            <div class="account-card">

                <h2>Mon accès API</h2>

                <button class="account-button">
                    Activer mon accès API
                </button>

            </div>

            <div class="account-card">
                <a href="{{ path('app_account_delete') }}"
                   class="account-button delete-button"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">
                    Supprimer mon compte
                </a>

            </div>

        </div>

    </section>

{% endblock %}
